<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jakub Hampl</string>
	<key>CFBundleDisplayName</key>
	<string>SE Editor Toolkit</string>
	<key>CFBundleIdentifier</key>
	<string>eu.gampleman.code.soautoedit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>resig_diff.js</string>
				<string>concatenation.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://stackoverflow.com/posts/*/edit*</string>
			<string>http://meta.stackoverflow.com/posts/*/edit*</string>
			<string>http://superuser.com/posts/*/edit*</string>
			<string>http://serverfault.com/posts/*/edit*</string>
			<string>http://*.stackexchange.com/posts/*/edit*</string>
			<string>http://stackapps.com/posts/*/edit*</string>
			<string>http://askubuntu.com/posts/*/edit*</string>
			<string>http://answers.onstartups.com/posts/*/edit*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Adds a few buttons to make editing easier.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://gampleman.github.com/SE-Editor-Toolkit/updates.plist</string>
	<key>Website</key>
	<string>http://stackapps.com/questions/2209/se-editor-toolkit</string>
</dict>
</plist>
